<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Collabo!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
      .profile {
        width: 400px;
        padding: 20px;
        margin: 50px;
      }

      #useID {
        background-color: aquamarine;
      }
    </style>
  </head>
  <body>
  <section class="hero is-primary section">
    <div class="container">
      <h1 class="title">
        Welcome to Collabo!
      </h1>
      <p class="subtitle">
        Once you're here, try to use git and add yourself below.
      </p>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <p> what's up good people? Today we're working in front end.
      Try to do the following in your <b>own project</b></p>
      <ul>
        <li>Write some html if you haven't already (u can use this
          file if u don't have a project yet)</li>
        <li>Import a CSS framework (preferably bulma)</li>
        <li>Use classes!</li>
        <li>Use an ID to style something (I styled my card)</li>
        <li>Use columns! &lt;- super important for layout stuff</li>
        <li>Play around with some random elements in the docs 
         (like the buttons below LOL)</li>
      </ul>
      <p>feel free to use this as reference, but do this stuff to
        your own html! Add more html if needed xp</p>
      <hr />
      <p class="is-size-3">You can find the docs <a href="https://bulma.io/documentation/">HERE</a></p>
      <p>Simple cheatsheet <a href="https://devhints.io/bulma">HERE</a></p>
      <p>Bigger cheatsheet <a href="http://bulmacheatsheet.com/assets/bulma-cheat-sheet-7-2-2018.pdf">HERE</a></p>
      <h2>BUT USE THE DOCS FIRST</h2>
    </div>
  </section>
  <section class="section">
    <div class="buttons">
      <button class="button is-info">Hehe</button>
      <button class="button is-success">Just</button>
      <button class="button is-warning">Some</button>
      <button class="button is-danger">USELESS BUTTONS</button>
    </div>
  </section>
  <section class="container">
    <div class="columns">
      <div class="column">
        <div class="container card profile" id="useID">
          <h1 class="title is-4">Jedidiah Park</h1>
          <p>Hi, I'm a deploy PC. You can find me here:</p>
          <ul>
            <li>Github: <a href="https://github.com/kjpark">@kjpark</a></li>
            <li>Twitter: <a href="https://twitter.com/jedidiahpark">@jedidiahpark</a></li>
            <li>LinkedIn: <a href="http://linkedin.com/in/jedidiahpark">@jedidiahpark</a></li>
          </ul>
        </div>
        <div class="container card profile">
          <h1 class="title is-4">Eva McExample</h1>
          <p>I'm a sentient bot you've been warned</p>
          <ul>
            <li>Github: <a href="https://github.com/kjpark">@bot</a></li>
            <li>Twitter: <a href="https://twitter.com/jedidiahpark">@botbot</a></li>
            <li>LinkedIn: <a href="http://linkedin.com/in/jedidiahpark">@botbotbot</a></li>
          </ul>
        </div>
        <div class="container card profile">
          <h1 class="title is-4">Cav Mahn</h1>
          <p>fo sure not the mascot @uva</p>
          <ul>
            <li>Github: <a href="https://github.com/kjpark">@notmascot</a></li>
            <li>Twitter: <a href="https://twitter.com/jedidiahpark">@plstrustme</a></li>
            <li>LinkedIn: <a href="http://linkedin.com/in/jedidiahpark">@imsrs</a></li>
          </ul>
        </div>
        <div class="container card profile">
          <h1 class="title is-4">Sharon Bryant</h1>
          <p>Hello, I'm a deploy student</p>
          <ul>
            <li>My favorite color is blue</li>
            <li>I like dancing.</li>
          </ul>
        </div>
        <div class="container card profile">
            <h1 class="title is-4">Harrison Clark</h1>
            <p>fo sure not the mascot @uva</p>
            <ul>
              <li>Github: <a href="https://github.com/HarrisonClark">@notmascot</a></li>
              <li>Twitter: <a href="https://twitter.com/harrison_clark9">@plstrustme</a></li>
              <li>LinkedIn: <a href="https://www.linkedin.com/in/c-harrison-clark/">@imsrs</a></li>
            </ul>
          </div>
      </div>
      <div class="column">
        <div class="container card profile">
          <h1 class="title is-4">Sammy Nayhouse</h1>
          <p>did i do it</p>
          <ul>
            <li>Github: <a href="https://github.com/sammynayhouse">@clickthis</a></li>
            <li>Twitter: <a href="https://twitter.com">@donthaveatwitter</a></li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/sammynayhouse/">@clickthis</a></li>
          </ul>
        </div>
        <div class="container card profile">
          <h1 class="title is-4">Bita Golshani</h1>
          <p>Hi, I'm taking deploy</p>
          <ul>
            <li>Here's a list</li>
            <li>This is the second item</li>
          </ul>
        </div>
        <div class="container card profile">
          <h1 class="title is-4">Ishaan Dey</h1>
          <p>Jed is a bozo</p>
          <ul>
            <li>Medium: <a href="https://medium.com/@ishaandey">@clickthis</a></li>
            <li>Github: <a href="https://github.com/ishaandey">@clickthis</a></li>
          </ul>
        </div>
      <div class="container card profile">
        <h1 class="title is-4">Haiylu Kibret</h1>
        <p>It is fun to work on git!</p>
        <ul></ul>
          <li>Github: <a href="https://github.com/Haiylu">@haiylu</a></li>
          <li>LinkedIn: <a href="https://www.linkedin.com/in/haiylu-k-998591aa">@HaiyluKibret</a></li>
        </ul>
      </div>
      <div class="container card profile">
        <h1 class="title is-4">cumeel</h1>
        <p>it's phonetically correct</p>
        <ul>
          <li>Github: <a href="https://github.com/CamilleDigamo">@reformedGit</a></li>
          <li>Twitter: <a href="https://twitter.com/uvacs2150">@yourFavClass</a></li>
          <li>LinkedIn: <a href="https://www.linkedin.com/in/camille-digamo-888937163/">@iNeedaHeadshot</a></li>
        </ul>
      </div>
    </div>
  </section>
  </body>
</html>