<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Collabo!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
      .profile {
        width: 400px;
        padding: 20px;
        margin: 50px;
      }
    </style>
  </head>
  <body>
  <section class="hero is-primary section">
    <div class="container">
      <h1 class="title">
        Welcome to Collabo!
      </h1>
      <p class="subtitle">
        Once you're here, try to use git and add yourself below.
      </p>
    </div>
  </section>
  <section class="container">
    <div class="container card profile">
      <h1 class="title is-4">Jedidiah Park</h1>
      <p>Hi, I'm a deploy PC. You can find me here:</p>
      <ul>
        <li>Github: <a href="https://github.com/kjpark">@kjpark</a></li>
        <li>Twitter: <a href="https://twitter.com/jedidiahpark">@jedidiahpark</a></li>
        <li>LinkedIn: <a href="http://linkedin.com/in/jedidiahpark">@jedidiahpark</a></li>
      </ul>
    </div>
    <div class="container card profile">
      <h1 class="title is-4">Eva McExample</h1>
      <p>I'm a sentient bot you've been warned</p>
      <ul>
        <li>Github: <a href="https://github.com/kjpark">@bot</a></li>
        <li>Twitter: <a href="https://twitter.com/jedidiahpark">@botbot</a></li>
        <li>LinkedIn: <a href="http://linkedin.com/in/jedidiahpark">@botbotbot</a></li>
      </ul>
    </div>
    <div class="container card profile">
        <h1 class="title is-4">Cav Mahn</h1>
        <p>fo sure not the mascot @uva</p>
        <ul>
          <li>Github: <a href="https://github.com/kjpark">@notmascot</a></li>
          <li>Twitter: <a href="https://twitter.com/jedidiahpark">@plstrustme</a></li>
          <li>LinkedIn: <a href="http://linkedin.com/in/jedidiahpark">@imsrs</a></li>
        </ul>
      </div>
      <div class="container card profile">
        <h1 class="title is-4">Sharon Bryant</h1>
        <p>Hello, I'm a deploy student</p>
        <ul>
          <li>My favorite color is blue</li>
          <li>I like dancing.</li>
        </ul>
      </div>
      <div class="container card profile">
        <h1 class="title is-4">Harrison Clark</h1>
        <p>fo sure not the mascot @uva</p>
        <ul>
          <li>Github: <a href="https://github.com/HarrisonClark">@notmascot</a></li>
          <li>Twitter: <a href="https://twitter.com/harrison_clark9">@plstrustme</a></li>
          <li>LinkedIn: <a href="https://www.linkedin.com/in/c-harrison-clark/">@imsrs</a></li>
        </ul>
      </div>
      <div class="container card profile">
        <h1 class="title is-4">Sammy Nayhouse</h1>
        <p>did i do it</p>
        <ul>
          <li>Github: <a href="https://github.com/sammynayhouse">@clickthis</a></li>
          <li>Twitter: <a href="https://twitter.com">@donthaveatwitter</a></li>
          <li>LinkedIn: <a href="https://www.linkedin.com/in/sammynayhouse/">@clickthis</a></li>
        </ul>
      </div>
      <div class="container card profile">
        <h1 class="title is-4">Bita Golshani</h1>
        <p>Hi, I'm taking deploy</p>
        <ul>
          <li>Here's a list</li>
          <li>This is the second item</li>
        </ul>
      </div>
      <div class="container card profile">
        <h1 class="title is-4">Ishaan Dey</h1>
        <p>Jed is a bozo</p>
        <ul>
          <li>Medium: <a href="https://medium.com/@ishaandey">@clickthis</a></li>
          <li>Github: <a href="https://github.com/ishaandey">@clickthis</a></li>
        </ul>
      </div>
      <div class="container card profile"></div>
      <h1 class="title is-4">.......</h1>
      <p>.......</p>
      <ul>
          <li>Github: <a href="..">@haiylu</a></li>
          <li>LinkedIn: <a href="https://www.linkedin.com/in/haiylu-k-998591aa">@HaiyluKibret</a></li>
      </ul>
    </div>
      <div class="container card profile"></div>
        <h1 class="title is-4">Haiylu Kibret</h1>
        <p>It is fun to work git</p>
        <ul>
            <li>Github: <a href="https://github.com/Haiylu">@haiylu</a></li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/haiylu-k-998591aa">@HaiyluKibret</a></li>
        </ul>
      </div>
      <div class="container card profile">
        <h1 class="title is-4">cumeel</h1>
        <p>it's phonetically correct</p>
        <ul>
          <li>Github: <a href="https://github.com/CamilleDigamo">@reformedGit</a></li>
          <li>Twitter: <a href="https://twitter.com/uvacs2150">@yourFavClass</a></li>
          <li>LinkedIn: <a href="https://www.linkedin.com/in/camille-digamo-888937163/">@iNeedaHeadshot</a></li>
        </ul>
      </div>
  </section>
  </body>
</html>